<div class="index-gallery">
	{{#each images}}
	<div class="box-gallery">
		<a href="/gallery/{{uniqueId}}" class="link-gallery">
			<div class="text-gallery">
				<h2>
					{{title}}
				</h2>
				<div>
					{{totalComments _id}}
					{{totalLikes}}
					{{totalDislikes}}
					{{views}}
				</div>
			</div>
		</a>
		<img src="/uploads/{{filename}}" class="image-gallery">
	</div>
	{{/each}}
</div>